# database
DB_NAME=db_name
DB_USER=db_user
DB_PASS=db_pass
DJANGO_SECRET_KEY=changeme
# django
ALLOWED_HOSTS=127.0.0.1,localhost
SECRET_KEY=your_secret_key
DEBUG=1
# azure
AZURE_STORAGE_CONNECTION_STRING="<your-azure-storage-connection-string>"
AZURE_ACCOUNT_NAME="<your-account-name>"
AZURE_CONTAINER="<your-container-name>"
#company
COMPANY_NAME="ALI Probate Ireland"
COMPANY_ADDRESS="123 Main Street, City, Country"
COMPANY_REGISTRATION_NUMBER="00000"
COMPANY_WEBSITE="https://www.alife.ie/"
COMPANY_PHONE_NUMBER="0861234567"
COMPANY_CEO="CEO"
# Email settings for Webhosting Ireland for outgoing
EMAIL_HOST = 'anthracite.webhostingireland.ie'  # SMTP server
EMAIL_HOST_USER = 'default password'  # Your email address
EMAIL_HOST_PASSWORD = 'password'  # Replace with your email account password
DEFAULT_FROM_EMAIL = 'default address'
# Email settings for Webhosting Ireland for incoming
IMAP_SERVER = "anthracite.webhostingireland.ie"
IMAP_PORT = 993
IMAP_USER = "imap_user"
IMAP_PASSWORD = "imap_password"
#Loans
ADVANCEMENT_THRESHOLD_FOR_COMMITTEE_APPROVAL = 1000000